@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Vinicius Grund is a Senior Web Developer over 9 years’ experience in web development industry with more than 6 years dedicated to Microsoft .Net technologies" />
    <meta name="keywords" content="web , developer , web developer , c# , vb.net , .net , resume , curriculum vitae , programmer , development , asp.net mvc, Vinicius Grund, currículo, currriculo, freelancer, desenvolvedor, arquiteto de software" />
    <meta name="author" content="metatags generator">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 month">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="Content/freelancer.css" rel="stylesheet">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <title>@ViewBag.Title</title>

</head>
<body id="page-top" class="index" ng-app="myApp">

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="Scripts/classie.js"></script>
    <script src="Scripts/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="Scripts/jqBootstrapValidation.js"></script>
    <script src="Scripts/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="Scripts/freelancer.js"></script>

</body>
</html>

